{% extends 'base.html.twig' %}

{% block content %}
    <h1>Contacts</h1>
    <div id="contact-table-container">
        <div class="table-responsive">
            <table class="table table-striped table-condensed" id="contact-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.ID }}</td>
                            <td>{{ contact.firstname }}</td>
                            <td>{{ contact.lastname }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.username }}</td>
                            <td><a href="contact/{{ contact.ID }}">View</a></td>
                            <td>{% if contact.ID > 2 %}<a href="contact/{{ contact.ID }}/delete">Remove</a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('contact.new') }}"><button class="btn btn-success pull-right">New</button></a>
    </div>
{% endblock %}