{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h1>
            {% if contact.firstname is defined %}
                {{ contact.firstname }} {{ contact.lastname }}
            {% else %}
                Oops - Contact Not Found
            {% endif %}
        </h1>
    </div>

    <hr />

    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}
    {{ form_end(contactForm) }}

{% endblock %}